<footer class="footer">
    <div class="container">
        <section class="footer__main">
            <div class="footer__info">
                <div class="footer__data">
                    <h1 class="logo">weshop</h1>
                    <p class="footer__text">USA most-loved online fashion store featuring new deals.</p><br>
                    <p class="footer__text">When it comes to trend, we all love being in it — Seeping every bit of it in WESHOP.com </p>
                </div>
                <div class="links">
                    <h2 class="links__name">SUPPORT</h2>
                    <ul class="links__list">
                        <li class="links__item"><a href="#">How to Order?</a></li>
                        <li class="links__item"><a href="#">Payments</a></li>
                        <li class="links__item"><a href="#">Assistance</a></li>
                        <li class="links__item"><a href="#">Delivery</a></li>
                    </ul>
                </div>
                <div class="links">
                    <h2 class="links__name">DUTIES</h2>
                    <ul class="links__list">
                        <li class="links__item"><a href="#">Terms and Conditions</a></li>
                        <li class="links__item"><a href="#">Shop Policy</a></li>
                        <li class="links__item"><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="links">
                    <h2 class="links__name">instagram feed</h2>
                    <ul class="links__list">
                        <li class="links__item links__item-img inb"><a href="#"><img src="../../images/instagram_feed/feed1.png"></a></li>
                        <li class="links__item links__item-img inb"><a href="#"><img src="../../images/instagram_feed/feed2.png"></a></li>
                        <li class="links__item links__item-img inb"><a href="#"><img src="../../images/instagram_feed/feed3.png"></a></li>
                        <li class="links__item links__item-img inb"><a href="#"><img src="../../images/instagram_feed/feed4.png"></a></li>
                    </ul>
                    <div class="cards">
                        <ul class="cards__list">
                            <li class="cards__item"><a href="#"><img src="../../images/cards/card1.png"></a></li>
                            <li class="cards__item"><a href="#"><img src="../../images/cards/card2.png"></a></li>
                            <li class="cards__item"><a href="#"><img src="../../images/cards/card3.png"></a></li>
                            <li class="cards__item"><a href="#"><img src="../../images/cards/card4.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="networks">
                <div class="networks__wrapper">
                    <div class="networks__item">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                    <div class="networks__item">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                    <div class="networks__item">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="networks__item">
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                    <div class="networks__item">
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="footer__bottom">
        <div class="container">
            <h2 class="footer__copyrights">Copyrights Mohammad shoahg. All rights researved 2016</h2>
        <div>
    </section>
</footer>