<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__leftWrapper">
                <div class="header__feedback">
                    <a class="header__feedbackItem" href="tel:+1234567890"><i class="fas fa-phone-alt"></i>(00)-123-456-789</a>
                    <a class="header__feedbackItem" href="mailto:vlad@htmlbook.ru"><i class="far fa-envelope"></i>weshop@gmail.com</a>
                </div>
                <a class="logoS" href="#">weshop</a>
            </div>
            <div class="header__centerWrapper">
                <form class="search">
                    <input class="search__input" type="text" placeholder="Search here...">
                    <button class="search__btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
                <ul class="header__menu">
                    <li class="header__menuItem"><a href="#">Home</a></li>
                    <li class="header__menuItem">
                        <div class="dropdown">
                            <button class="dropdown__btn">Shop<i class="fas fa-angle-down"></i></button>
                            <div class="dropdown__list">
                                <a href="#" class="dropdown__listItem">Russian</a>
                                <a href="#" class="dropdown__listItem">Japan</a>
                            </div>
                        </div>
                    </li>
                    <li class="header__menuItem">
                        <div class="dropdown">
                            <button class="dropdown__btn">Men<i class="fas fa-angle-down"></i></button>
                            <div class="dropdown__list">
                                <a href="#" class="dropdown__listItem">Russian</a>
                                <a href="#" class="dropdown__listItem">Japan</a>
                            </div>
                        </div>
                    </li>
                    <li class="header__menuItem">
                        <div class="dropdown">
                            <button class="dropdown__btn">Women<i class="fas fa-angle-down"></i></button>
                            <div class="dropdown__list">
                                <a href="#" class="dropdown__listItem">Russian</a>
                                <a href="#" class="dropdown__listItem">Japan</a>
                            </div>
                        </div>
                    </li>
                    <li class="header__menuItem">
                        <div class="dropdown">
                            <button class="dropdown__btn">Page<i class="fas fa-angle-down"></i></button>
                            <div class="dropdown__list">
                                <a href="#" class="dropdown__listItem">Russian</a>
                                <a href="#" class="dropdown__listItem">Japan</a>
                            </div>
                        </div>
                    </li>
                    <li class="header__menuItem"><a href="#">Blog</a></li>
                    <li class="header__menuItem"><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="header__rightWrapper">
                <ul class="header__set">
                    <li class="header__setItem">
                        <div class="dropdown">
                            <button class="dropdown__btn">English<i class="fas fa-angle-down"></i></button>
                            <div class="dropdown__list">
                                <a href="#" class="dropdown__listItem">Russian</a>
                                <a href="#" class="dropdown__listItem">Japan</a>
                            </div>
                        </div>
                    </li>
                    <li class="header__setItem">
                        <div class="dropdown">
                            <button class="dropdown__btn">USD<i class="fas fa-angle-down"></i></button>
                            <div class="dropdown__list">
                                <a href="#" class="dropdown__listItem">рупии</a>
                                <a href="#" class="dropdown__listItem">чеканная монета</a>
                            </div>
                        </div>
                    </li>
                    <li class="header__setItem"><a href="#">Login</a></li>
                </ul>
                <div class="cart">
                    <a href="#" class="cart__icon"><i class="fas fa-cart-arrow-down"></i></a>
                    <span class="cart__cost">$254</span>
                </div>
            </div>
        </div>
    </div>
</header>