<section class="logos">
    <div class="container">
        <div class="logos__wrapper">
            <div class="logos__container"><img class="logos__img" src="../../images/logos/Icon.png"></div>
            <div class="logos__container"><img class="logos__img" src="../../images/logos/a.png"></div>
            <div class="logos__container"><img class="logos__img" src="../../images/logos/a.png"></div>
            <div class="logos__container"><img class="logos__img" src="../../images/logos/Group_5.png"></div>
            <div class="logos__container"><img class="logos__img" src="../../images/logos/ICE_CREAM_BAR.png"></div>
            <div class="logos__container"><img class="logos__img" src="../../images/logos/Icon.png"></div>
        </div>
    </div>
</section>