<section class="logos">
    <div class="logos__wrapper">
        <a href="#"><img src="../../images/logos/3-layers.png"></a>
        <a href="#"><img src="../../images/logos/a.png"></a>
        <a href="#"><img src="../../images/logos/Group_1.png"></a>
        <a href="#"><img src="../../images/logos/Group_5.png"></a>
        <a href="#"><img src="../../images/logos/ICE_CREAM_BAR.png"></a>
        <a href="#"><img src="../../images/logos/Icon.png"></a>
    </div>
</section>