<section class="subheader">
    <div class="subheader__back">
        <div class="container">
            <div class="subheader__wrapper">
                <div class="subheader__way">
                    <a href="#">Home</a>
                    <span>/</span>
                    <a href="#">shop</a>
                    <span>/</span>
                    <a href="#">details</a>
                </div>
                <h1 class="subheader__title">product</h1>
            </div>
        </div>
    </div>
</section>