<!DOCTYPE html>
<html lang="en">
<head>
    <title>weshop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
</head>
<body>

    //- Include header
    //include ../../#modules/header.pug

    //- Include subheader
    include ../../#modules/subheader.pug

    <section class="section section-white">
        <div class="container">
            <section class="products-section">
                <aside class="filter">
                    <section class="filter__category">
                        <header class="products-section__header filter__header">
                            <h3 class="filter__title">Category</h3>
                        </header>
                        <ul class="filter__list">
                            <li class="filter__list-item"><a href="#"><span>Women</span><span><span>(12)</span></a></li>
                            <li class="filter__list-item"><a href="#"><span>Man</span><span><span>(5)</span></a></li>
                            <li class="filter__list-item"><a href="#"><span>Kids</span><span><span>(8)</span></a></li>
                            <li class="filter__list-item"><a href="#"><span>Bags</span><span><span>(20)</span></a></li>
                            <li class="filter__list-item"><a href="#"><span>Accessories</span><span><span>(29)</span></a></li>
                            <li class="filter__list-item"><a href="#"><span>Watch</span><span><span>(15)</span></a></li>
                        </ul>
                    </section>
                    <section class="filter__category">
                        <header class="filter__header">
                            <h3 class="filter__title">Price by filter</h3>
                        </header>
    
                    </section>
                    <section class="filter__category">
                        <header class="filter__header">
                            <h3 class="filter__title">Size</h3>
                        </header>
                        <ul class="filter__list">
                            <li class="filter__list-item"><a href="#"><span>S</span><span><span>(12)</span></a></li>
                            <li class="filter__list-item"><a href="#"><span>M</span><span><span>(5)</span></a></li>
                            <li class="filter__list-item"><a href="#"><span>L</span><span><span>(8)</span></a></li>
                            <li class="filter__list-item"><a href="#"><span>XL</span><span><span>(20)</span></a></li>
                            <li class="filter__list-item"><a href="#"><span>XXL</span><span><span>(29)</span></a></li>
                        </ul>
                    </section>
                    <section class="filter__category">
                        <header class="products-section__header filter__header">
                            <h3 class="filter__title">Keyword</h3>
                        </header>
                        <div class="keywords">
                            <a class="keywords__item" href="">T-shirt</a>
                            <a class="keywords__item" href="">Black</a>
                            <a class="keywords__item" href="">White</a>
                            <a class="keywords__item" href="">Women</a>
                            <a class="keywords__item" href="">Man</a>
                            <a class="keywords__item" href="">Socks</a>
                            <a class="keywords__item" href="">Vlad</a>
                            <a class="keywords__item" href="">Romka</a>
                            <a class="keywords__item" href="">Cursach 5+</a>
                            <a class="keywords__item" href="">Samsung Galaxy S9</a>
                            <a class="keywords__item" href="">Gelik</a>
                        </div>
                    </section>
                </aside>
                <main class="catalog">
                    <header class="catalog__header">
                    span products 
                    </header>
                    <section class="catalog__content">
                        <article class="productown">
                            <div class="productown__photo">
                                <a class="productown__link" href="#">
                                    <img src="../../images/products/jeans.jpg">
                                </a>
                            </div>
                            <div class="productown__data">
                                <div class="productown__info">
                                    <h3 class="productown__title"><a href="#">Lorem ipsum dolor sit</a></h3>
                                    <h5 class="productown__cost">$289</h5>
                                    <span class="productown__availavlity-wrapper"><span class="productown__availavlity">Availavlity:</span><a class="productown__availavlity-status" href="#">IN STOCK</a></span>
                                </div>
                                <p class="productown__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim expedita soluta earum est ad id similique quasi, dolorum fugiat perspiciatis assumenda, ea, officiis iure impedit reprehenderit amet veniam voluptatum! Magnam?Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <div class="productown__button-wrapper">
                                    <div class="buttonCard">
                                        <button class="buttonCard__text">Add to card</button><button class="buttonCard__icon"><img src="../../images/cards/Cart.png"></button>
                                    <div>
                                </div>
                            </div>
                        </article>
                        <article class="productown">
                            <div class="productown__photo">
                                <a class="productown__link" href="#">
                                    <img src="../../images/products/jeans2.jpg">
                                </a>
                            </div>
                            <div class="productown__data">
                                <div class="productown__info">
                                    <h3 class="productown__title"><a href="#">Lorem ipsum dolor sit</a></h3>
                                    <h5 class="productown__cost">$289</h5>
                                    <span class="productown__availavlity-wrapper"><span class="productown__availavlity">Availavlity:</span><a class="productown__availavlity-status" href="#">IN STOCK</a></span>
                                </div>
                                <p class="productown__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim expedita soluta earum est ad id similique quasi, dolorum fugiat perspiciatis assumenda, ea, officiis iure impedit reprehenderit amet veniam voluptatum! Magnam?Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <div class="productown__button-wrapper">
                                    <div class="buttonCard">
                                        <button class="buttonCard__text">Add to card</button><button class="buttonCard__icon"><img src="../../images/cards/Cart.png"></button>
                                    <div>
                                </div>
                            </div>
                        </article>
                        <article class="productown">
                            <div class="productown__photo">
                                <a class="productown__link" href="#">
                                    <img src="../../images/products/jeans3.jpg">
                                </a>
                            </div>
                            <div class="productown__data">
                                <div class="productown__info">
                                    <h3 class="productown__title"><a href="#">Lorem ipsum dolor sit</a></h3>
                                    <h5 class="productown__cost">$289</h5>
                                    <span class="productown__availavlity-wrapper"><span class="productown__availavlity">Availavlity:</span><a class="productown__availavlity-status" href="#">IN STOCK</a></span>
                                </div>
                                <p class="productown__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim expedita soluta earum est ad id similique quasi, dolorum fugiat perspiciatis assumenda, ea, officiis iure impedit reprehenderit amet veniam voluptatum! Magnam?Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <div class="productown__button-wrapper">
                                    <div class="buttonCard">
                                        <button class="buttonCard__text">Add to card</button><button class="buttonCard__icon"><img src="../../images/cards/Cart.png"></button>
                                    <div>
                                </div>
                            </div>
                        </article>
                        <article class="productown">
                            <div class="productown__photo">
                                <a class="productown__link" href="#">
                                    <img src="../../images/products/jeans4.jpg">
                                </a>
                            </div>
                            <div class="productown__data">
                                <div class="productown__info">
                                    <h3 class="productown__title"><a href="#">Lorem ipsum dolor sit</a></h3>
                                    <h5 class="productown__cost">$289</h5>
                                    <span class="productown__availavlity-wrapper"><span class="productown__availavlity">Availavlity:</span><a class="productown__availavlity-status" href="#">IN STOCK</a></span>
                                </div>
                                <p class="productown__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim expedita soluta earum est ad id similique quasi, dolorum fugiat perspiciatis assumenda, ea, officiis iure impedit reprehenderit amet veniam voluptatum! Magnam?Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <div class="productown__button-wrapper">
                                    <div class="buttonCard">
                                        <button class="buttonCard__text">Add to card</button><button class="buttonCard__icon"><img src="../../images/cards/Cart.png"></button>
                                    <div>
                                </div>
                            </div>
                        </article>
                        <article class="productown">
                            <div class="productown__photo">
                                <a class="productown__link" href="#">
                                    <img src="../../images/products/product_item/product2.jpg">
                                </a>
                            </div>
                            <div class="productown__data">
                                <div class="productown__info">
                                    <h3 class="productown__title"><a href="#">Lorem ipsum dolor sit</a></h3>
                                    <h5 class="productown__cost">$289</h5>
                                    <span class="productown__availavlity-wrapper"><span class="productown__availavlity">Availavlity:</span><a class="productown__availavlity-status" href="#">IN STOCK</a></span>
                                </div>
                                <p class="productown__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim expedita soluta earum est ad id similique quasi, dolorum fugiat perspiciatis assumenda, ea, officiis iure impedit reprehenderit amet veniam voluptatum! Magnam?Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <div class="productown__button-wrapper">
                                    <div class="buttonCard">
                                        <button class="buttonCard__text">Add to card</button><button class="buttonCard__icon"><img src="../../images/cards/Cart.png"></button>
                                    <div>
                                </div>
                            </div>
                        </article>
                    </section>
                </main>
            </section>

            <section class="tidings">
                <div class="tidings__wrapper">
                    //- Include newsletter
                    include ../../#modules/tidings__item(newsletter)
                </div>
            </section>
        </div>

    </section>

    //- Include logos
    include ../../#modules/logos.pug

    //- Include footer
    include ../../#modules/footer.pug
</body>
</html>