@font-face {
  font-family: "Roboto Slab";
  src: url(../fonts/RobotoSlab/RobotoSlab-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(../fonts/RobotoSlab/RobotoSlab-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(../fonts/RobotoSlab/RobotoSlab-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto Slab";
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 45px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}
.button-dafault {
  background-color: #48689a;
  color: #eeeeee;
}
.button-dafault:hover {
  background-color: #385177;
}
.button-gray {
  background-color: #f1edee;
  color: #15232d;
}
.button-gray:hover {
  color: #fff;
  background-color: #332c2e;
}

.text_color {
  color: #48689a;
}

.section {
  background-color: #f7f7f7;
  padding: 60px 0;
}
.section-white {
  background-color: #fff;
}
.section-gray {
  background-color: #f7f7f7;
}

.logos__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logos__wrapper img {
  transition: transform 0.3s ease-in-out;
}
.logos__wrapper a:hover img {
  transform: scale(1.15);
}

.footer__info {
  padding: 30px 0 0 40px;
  display: flex;
  justify-content: space-between;
}
.footer__data {
  max-width: 260px;
}
.footer__text {
  color: #3c4852;
  font-size: 14px;
  font-weight: 300;
}
.footer__bottom {
  padding: 10px 0;
  background-color: #48689a;
}
.footer__copyrights {
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
}

.networks {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}
.networks__wrapper {
  padding: 25px 75px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eeeeee;
}
.networks__item a {
  display: inline-block;
  font-size: 25px;
  color: #3c4852;
  padding: 0 15px;
}
.networks__item a:hover {
  color: #48689a;
}

.logo {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #48689a;
  font-size: 40px;
}

.links {
  padding-top: 10px;
}
.links__name {
  color: #15232d;
  font-size: 14px;
  text-transform: uppercase;
}
.links__list {
  margin-top: 25px;
  list-style: none;
  font-weight: 300;
  font-size: 12px;
}
.links .inb {
  display: inline-block;
}
.links .inb a {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.links .inb a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.links__item {
  margin-bottom: 8px;
}
.links__item-img {
  margin-right: 10px;
}
.links__item-img:last-child {
  margin-right: 0;
}
.links__item:hover {
  text-decoration: underline;
}

.cards {
  margin-top: 10px;
  padding: 25px 0;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}
.cards__list {
  list-style: none;
}
.cards__item {
  max-width: 30px;
  display: inline-block;
  margin-right: 12px;
}
.cards__item img {
  max-width: 100%;
}

.product-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-list__header-details {
  justify-content: center;
}
.product-list__name {
  color: #15232d;
  text-transform: uppercase;
  font-size: 20px;
}
.product-list__name-details {
  text-transform: initial;
  font-weight: 400;
}
.product-list__category {
  list-style: none;
}
.product-list__name-category {
  margin-left: 30px;
  display: inline-block;
  text-transform: uppercase;
  color: #15232d;
  font-size: 14px;
}
.product-list__name-category_active {
  color: #48689a;
}
.product-list__clothes {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
  margin-top: 35px;
  /*&-slider{
      position: relative;
      &::before, &::after{
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
      }
      &::before{
          content: "<";
          left: -20px;
      }
      &::after{
          content: ">";
          right: -20px;
      }
  }*/
}
.product-list__item {
  padding: 0 16px;
  margin-bottom: 32px;
  width: 25%;
}
.product-list__item-wrapper {
  background-color: #eeeeee;
  height: 390px;
}
.product-list__item-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product {
  background-image: url(../images/products/product_item/product2.jpg);
  background-size: cover;
}
.product__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__way {
  color: #9aa6b9;
  font-size: 17px;
  font-weight: 700;
}
.product__way span {
  margin: 0 5px;
}
.product__back {
  padding: 200px 0 130px 0;
  background-color: rgba(0, 0, 0, 0.85);
}
.product__title {
  text-align: center;
  margin-top: 10px;
  width: 100%;
  max-width: 500px;
  color: #3c4852;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.about {
  border-bottom: 2px solid #eeeeee;
}
.about__container {
  margin: 0 auto;
  max-width: 777px;
}
.about__header {
  padding: 25px 0;
  background-color: #48689a;
}
.about__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.about__category a {
  color: #eeeeee;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}
.about__text {
  line-height: 1.3rem;
  font-size: 12px;
  color: #000;
  text-align: justify;
}
.about__text-wrapper {
  margin: 35px 0 70px 0;
}

.stat__scale {
  height: 15px;
  background-color: #eeeeee;
  margin-bottom: 50px;
}
.stat__scale:first-child .stat__current-scale {
  width: 70%;
}
.stat__scale:nth-child(2) .stat__current-scale {
  width: 50%;
}
.stat__current-scale {
  position: relative;
  height: 100%;
  background-color: #48689a;
}
.stat__data {
  color: #48689a;
  position: absolute;
  font-size: 12px;
  font-weight: 700;
  top: -25px;
}
.stat__data:nth-child(2) {
  right: 25px;
}

.commodity {
  display: flex;
  margin: 0 -15px;
}
.commodity__photos, .commodity__info {
  flex-grow: 1;
  padding: 0 15px;
}
.commodity__info {
  padding-top: 40px;
  max-width: 50%;
}
.commodity__cost {
  color: #48689a;
  font-weight: 700;
  font-size: 40px;
}
.commodity__name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #3c4852;
  padding: 10px 0;
  border-bottom: 2px solid #eeeeee;
}
.commodity__description {
  text-align: justify;
  font-size: 14px;
  font-weight: 300;
  color: #424c55;
  margin-top: 35px;
}
.commodity__photos {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 120px repeat(4, 1fr);
  grid-template-rows: repeat(3, 170px) 30px;
}
.commodity__photos-item {
  background-color: #fff;
}
.commodity__photos-item:first-child {
  grid-row: 1/-1;
  grid-column: 2/-1;
  position: relative;
}
.commodity__photos-item:first-child::before, .commodity__photos-item:first-child::after {
  cursor: pointer;
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #48689a;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.commodity__photos-item:first-child::before {
  content: "<";
  color: #fff;
  background-color: #48689a;
  right: 60px;
}
.commodity__photos-item:first-child::after {
  content: ">";
  color: #48689a;
  background-color: #fff;
  right: 0;
}
.commodity__photos-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.commodity .buttonDefault {
  margin-top: 30px;
  margin-right: 15px;
}
.commodity__share {
  margin-top: 40px;
}
.commodity__share-title {
  display: inline-block;
  border-bottom: 2px solid #48689a;
  padding: 8px 0;
  text-transform: uppercase;
  color: #3c4852;
  font-size: 14px;
  font-weight: 300;
}
.commodity__share .networks {
  justify-content: flex-start;
  padding: 0;
}
.commodity__share .networks__wrapper {
  padding: 10px 0 0 0;
  border-bottom: 0;
}
.commodity__share .networks__item a {
  font-size: 14px;
  padding: 5px;
}
.commodity__share .networks__item:first-child a {
  padding-left: 0;
}

.buttonDefault {
  cursor: pointer;
  letter-spacing: 0.28px;
  border: 2px solid #48689a;
  padding: 15px 40px;
  color: #48689a;
  text-transform: uppercase;
  font-size: 12px;
}
.buttonDefault-bc {
  background-color: #48689a;
  color: #fff;
}