<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>weshop</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
      <section class="greetSection">
        <div class="container">
            <section class="slider">
                <div class="slider__wrapper">
                    <div class="slider__description">
                        <h1 class="slider__title">fashion is nothing</h1>
                        <h2 class="slider__subtitle">but mischief</h2>
                    </div>
                    <button class="button slider__button">
                        shop now
                    </button>
                </div>
            </section>
        </div>
      </section>
    </body>
</html>