<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>weshop</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    </head>
    <body>
        <section class="greetSection">
            <div class="container">
                <section class="home-slider">
                    <div class="home-slider__wrapper">
                        <div class="home-slider__description">
                            <h1 class="home-slider__title">fashion is nothing</h1>
                            <h2 class="home-slider__subtitle">but <span class="text_color">mischief</span></h2>
                        </div>
                        <button class="button button-dafault home-slider__button">shop now </button>
                    </div>
                </section>
            </div>
        </section>
        
        <section class="section section-gray">
            <div class="container">
                <div class="section__wrapper">
                    <section class="news"> 
                        <article class="news__item">
                            <div class="news__wrapper">
                                <div class="news__subwrapper">
                                    <div class="news__description">
                                        <h2 class="news__title">Men’s t-shirt<br> <span class="text_color special">collection</span></h2>
                                        <pre class="news__subtitle ">2  0  1  6</pre>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="news__item">
                            <div class="news__wrapper">
                                <div class="news__subwrapper">
                                    <div class="news__description">
                                        <h2 class="news__title">50% OFFER <br>BELT <span class="text_color"> COLLECTION</span></h2>
                                        <pre class="news__subtitle">See more...</pre>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>

                    <section class="advantage">
                        <div class="advantage__wrapper">
                            <article class="advantage__item">
                                <img class = "advantage__icon" src="../images/icons/Headset.png">
                                <h2 class="advantage__title">24/7 Hour Support</h2>
                                <div class="advantage__description">Our online support section is available and regularly updated if you'd prefer.</div>
                            </article>
                            
                            <article class="advantage__item">
                                <img class = "advantage__icon" src="../images/icons/House.png">
                                <h2 class="advantage__title">EASY SERVICE</h2>
                                <div class="advantage__description">Our online support section is available and regularly updated if you'd prefer.</div>
                            </article>
                            
                            <article class="advantage__item">
                                <img class = "advantage__icon" src="../images/icons/Truck.png">
                                <h2 class="advantage__title">hOME DELIVERY</h2>
                                <div class="advantage__description">Our online support section is available and regularly updated if you'd prefer.</div>
                            </article>
                        </div>
                    </section>
                </div>
            </div>
        </section>

        <section class = "section section-white">
            <div class="container">
                <section class="product-list">
                    <header class="product-list__header">
                        <h2 class="product-list__name">new collection</h2>
                        <ul class="product-list__category">
                            <li class="product-list__name-category"><a href="#">ALL</a></li>
                            <li class="product-list__name-category"><a href="#">MEN</a></li>
                            <li class="product-list__name-category product-list__name-category_active"><a href="#">WOMEN</a></li>
                            <li class="product-list__name-category"><a href="#">SHOP</a></li>
                            <li class="product-list__name-category"><a href="#">Accessories</a></li>
                        </ul>
                    </header>
                    <div class="product-list__clothes">
                        <article class="product-list__item">
                            <div class="product-list__item-wrapper">
                                <div class="product-list__cart"></div>
                            </div>
                        </article>

                        <article class="product-list__item">
                            <div class="product-list__item-wrapper">
                                <div class="product-list__cart"></div>
                            </div>
                        </article>

                        <article class="product-list__item">
                            <div class="product-list__item-wrapper">
                                <div class="product-list__cart"></div>
                            </div>
                        </article>

                        <article class="product-list__item">
                            <div class="product-list__item-wrapper">
                                <div class="product-list__cart"></div>
                            </div>
                        </article>

                        <article class="product-list__item">
                            <div class="product-list__item-wrapper">
                                <div class="product-list__cart"></div>
                            </div>
                        </article>

                        <article class="product-list__item">
                            <div class="product-list__item-wrapper">
                                <div class="product-list__cart"></div>
                            </div>
                        </article>

                        <article class="product-list__item">
                            <div class="product-list__item-wrapper">
                                <div class="product-list__cart"></div>
                            </div>
                        </article>

                        <article class="product-list__item">
                            <div class="product-list__item-wrapper">
                                <div class="product-list__cart"></div>
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </section>

        <section class="section section-gray">
            <div class="container">
                <section class="slider">
                    <div class="slider__wrapper">
                        <div class="slider__double-wrapper">
                            <div class="slider__description">
                                <h1 class="slider__title">PERSONAL <span class="text_color">ASSISTENT</span></h1>
                                <h2 class="slider__subtitle">You don’t know what to choose? We will help you.</h2>
                            </div>
                            <button class="button button-gray slider__button">view collection</button>
                        </div>
                    </div>
                </section>
            </div>
        </section>

        <section class = "section section-white">
            <div class="container">
                <section class="product-list">
                    <header class="product-list__header">
                        <h2 class="product-list__name">featured</h2>
                        <ul class="product-list__category">
                            <li class="product-list__name-category"><a href="#">ALL</a></li>
                            <li class="product-list__name-category"><a href="#">MEN</a></li>
                            <li class="product-list__name-category product-list__name-category_active"><a href="#">WOMEN</a></li>
                            <li class="product-list__name-category"><a href="#">SHOP</a></li>
                            <li class="product-list__name-category"><a href="#">Accessories</a></li>
                        </ul>
                    </header>

                    <div class="product-list__clothes">
                        <article class="product-list__item">
                            <div class="product-list__item-wrapper">
                                <div class="product-list__cart"></div>
                            </div>
                        </article>

                        <article class="product-list__item">
                            <div class="product-list__item-wrapper">
                                <div class="product-list__cart"></div>
                            </div>
                        </article>

                        <article class="product-list__item">
                            <div class="product-list__item-wrapper">
                                <div class="product-list__cart"></div>
                            </div>
                        </article>

                        <article class="product-list__item">
                            <div class="product-list__item-wrapper">
                                <div class="product-list__cart"></div>
                            </div>
                        </article>
                    </div>
                </section>
            
                <section class="tidings">
                    <div class="tidings__wrapper">
                        <article class="tidings__item">
                            <div class="tidings__border">
                                <div class="tidings__item-wrapper">
                                    <div class="tidings__description">
                                        <h2 class="tidings__title">new <br> men’s collection</h2>
                                        <h3 class="tidings__subtitle">coming soon</h3>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="tidings__item">
                            <div class="tidings__border"></div>
                        </article>
            
                        <article class="tidings__item">
                            <div class="tidings__border">
                                <div class="tidings__item-wrapper tidings__item-wrapper_white">
                                </div>
                            </div>
                        </article>

                        <article class="tidings__item">
                            <div class="tidings__border">
                                <div class="tidings__item-wrapper tidings__item-wrapper_transparent">
                                    <div class="tidings__description">
                                        <h2 class="tidings__title">NEWSLETTER</h2>
                                        <h3 class="tidings__text">we are promising,we wil not spam.</h3>
                                    </div>
                                    <form class="email">
                                        <input class="email__input tidings__email" placeholder="Enter your email" type="text">
                                    </form>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </section>

        <section class="section section-gray">
            <div class="container">
                <section class="logos">
                    <div class="logos__wrapper">
                        <a href="#"><img src="../images/logos/3-layers.png"></a>
                        <a href="#"><img src="../images/logos/a.png"></a>
                        <a href="#"><img src="../images/logos/Group_1.png"></a>
                        <a href="#"><img src="../images/logos/Group_5.png"></a>
                        <a href="#"><img src="../images/logos/ICE_CREAM_BAR.png"></a>
                        <a href="#"><img src="../images/logos/Icon.png"></a>
                    </div>
                </section>
            </div>
        </section>

        <footer class="footer">
        <div class="container">
            <section class="footer__main">
                <div class="footer__info">
                    <div class="footer__data">
                        <h1 class="logo">weshop</h1>
                        <p class="footer__text">USA most-loved online fashion store featuring new deals.</p><br>
                        <p class="footer__text">When it comes to trend, we all love being in it — Seeping every bit of it in WESHOP.com </p>
                    </div>
                    <div class="links">
                        <h2 class="links__name">SUPPORT</h2>
                        <ul class="links__list">
                            <li class="links__item"><a href="#">How to Order?</a></li>
                            <li class="links__item"><a href="#">Payments</a></li>
                            <li class="links__item"><a href="#">Assistance</a></li>
                            <li class="links__item"><a href="#">Delivery</a></li>
                        </ul>
                    </div>
                    <div class="links">
                        <h2 class="links__name">DUTIES</h2>
                        <ul class="links__list">
                            <li class="links__item"><a href="#">Terms and Conditions</a></li>
                            <li class="links__item"><a href="#">Shop Policy</a></li>
                            <li class="links__item"><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="links">
                        <h2 class="links__name">instagram feed</h2>
                        <ul class="links__list">
                            <li class="links__item links__item-img inb"><a href="#"><img src="../images/logos/image.png"></a></li>
                            <li class="links__item links__item-img inb"><a href="#"><img src="../images/logos/image.png"></a></li>
                            <li class="links__item links__item-img inb"><a href="#"><img src="../images/logos/image.png"></a></li>
                            <li class="links__item links__item-img inb"><a href="#"><img src="../images/logos/image.png"></a></li>
                        </ul>
                        <div class="cards">
                            <ul class="cards__list">
                                <li class="cards__item"><a href="#"><img scr="../images/logos/layers.png"></a></li>
                                <li class="cards__item"><a href="#"><img scr="../images/logos/layers.png"></a></li>
                                <li class="cards__item"><a href="#"><img scr="../images/logos/layers.png"></a></li>
                                <li class="cards__item"><a href="#"><img scr="../images/logos/layers.png"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="networks">
                    <div class="networks__wrapper">
                        <div class="networks__item">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </div>
                        <div class="networks__item">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </div>
                        <div class="networks__item">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="networks__item">
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="networks__item">
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section class="footer__bottom">
            <div class="container">
                <h2 class="footer__copyrights">Copyrights Mohammad shoahg. All rights researved 2016</h2>
            <div>
        </section>
        </footer>
    </body>
</html>